$url: "../img/";

// 메인컬러 설정
$mColor: #c29525;
$padding: 2.5rem 0;

// 미디어쿼리 설정
$w480: 480px;

@mixin w480 {
    @media (max-width: #{$w480}) {
        @content;
    }
}

// inner 영역
@mixin inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

@mixin btn {
    padding: .9rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    background-color: $mColor;
    cursor: pointer;
    border: 0;
    outline: none;
}

@mixin sc_tit {
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: #000;
    margin-bottom: 2.5rem;
    padding-bottom: 3rem;
    border-bottom: 2px solid $mColor;
    display: inline-block;
}