@import "./_variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
// import 사용하여 동일 폴더에 위치한 variables 파일을 불러온다

// Noto Sans KR 폰트를 가져와 사용합니다.
* {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
}

// 헤더 영역
.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    .inner {
        @include inner;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu__wr {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        > span {
            width: 100%;
            height: 3px;
            background-color: #fff;
            border-radius: 3px;
            transition: all 0.3s ease-in-out;
        }
    }
}

// 사이드 메뉴
.sideBar_wr {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: #fff;
    z-index: 1000;
    transition: all .3s ease-in-out;
    overflow: hidden;

    .inner {
        width: 100%;
        height: 100%;
        padding: 0 2rem;
    }

    &.active {
        width: 45rem;

        .top_wr {

            .closeBtn {
                transform: translateX(0);
            }
        }
    }

    .top_wr {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        margin-bottom: 10rem;

        .closeBtn {
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transform: translateX(100px);
            transition: all 1s ease-in-out;
            position: relative;

            &:hover {

                .closeText {
                    display: block;
                }
            }
    
            > span {
                width: 100%;
                height: 2px;
                background-color: #000;
                border-radius: 3px;
                transition: all 0.3s ease-in-out;

                &:nth-child(1){transform: translateY(10px) rotate(45deg);}
                &:nth-child(2){transform: translateY(-8px) rotate(-45deg);}
            }

            .closeText {
                display: none;
                position: absolute;
                top: 50%;
                left: 4rem;
                transform: translateY(-50%);
                background-color: #c29525;
                padding: .8rem 2rem;
                font-size: 1rem;
                color: #fff;
                transition: all .3s ease-in-out;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: -.5rem;
                    transform: translateY(-50%) rotate(45deg);
                    content: "";
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background-color: #c29525;
                }
            }
        }
    }

    .content_wr {
        width: 100%;
        height: calc(100% - 140px - 10rem);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            > li {
                margin-bottom: 2.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                > a {
                    font-size: 3rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: #797979;
                    position: relative;
                    display: inline-block;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        overflow: hidden;
                        width: 0%;
                        color: $mColor;
                        content: attr(title);
                        transition: all 0.5s;
                        display: block;
                    }

                    &:hover {

                        &::before {
                            width: 100%;
                        }
                        
                    }
                }
            }
        }

        .social_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            > li {
                margin-right: 5rem;

                &:last-child {
                    margin-right: 0;
                }

                > a {
                    width: 3rem;
                    height: 3rem;
                    background-color: #797979;
                    border-radius: 100%;
                    font-size: 1.2rem;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $mColor;
                    }
                }
            }
        }
    }
}

// 본문 영역
.main {

    .section {
        width: 100%;

        .inner {
            @include inner;
        }

        .sc_tit {
            @include sc_tit;
        }

        .btn {
            @include btn;
        }

        .cont {
            padding: $padding;
        }

        // 메인 비주얼 영역
        &.section01 {

            .cont {
                padding: 0;

                &.cont1 {
                    width: 100%;
                    height: 100vh;
                    background: url($url + 'bg.jpg')no-repeat;
                    background-size: cover;

                    .inner {
                        height: 100%;
                        position: relative;
                    }

                    .textBox {
                        width: 37rem;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                        padding-left: 2.5rem;

                        &.active {
                            
                            .vs_tit,
                            .vs_txt {
                                opacity: 1;
                                transform: translateY(0);
                            }
                        }

                        .vs_tit {
                            opacity: 0;
                            transform: translateY(300px);
                            transition: transform .5s ease-in-out;
                            font-size: 3rem;
                            font-weight: 700;
                            line-height: 1.3;
                            color: #fff;
                            padding-bottom: 1.5rem;
                        }

                        .vs_txt {
                            opacity: 0;
                            transform: translateY(300px);
                            transition: transform .8s ease-in-out;
                            font-size: 1.5rem;
                            font-weight: 200;
                            line-height: 1.5;
                            color: #fff;
                            padding-bottom: 2.5rem;
                        }
                    }
                }
            }
        }

        // About Us 영역
        &.section02 {

            .cont {

                &.cont1 {
                    width: 100%;
                    background: #f5f5f5;
                    text-align: center;

                    .content {
                        position: relative;
                        width: 100%;
                        height: 50vh;
                        background: url($url + 'house.png')no-repeat center;
                        background-size: 25rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .text_wr {

                            .box {
                                width: 25rem;
                                position: absolute;

                                &.box1 {top: 0; left: 0;}
                                &.box2 {top: 0; right: 0;}
                                &.box3 {top: 50%; left: -60px; transform: translateY(-50%);}
                                &.box4 {top: 50%; right: -60px; transform: translateY(-50%);}
                                &.box5 {bottom: 0; left: 0;}
                                &.box6 {bottom: 0; right: 0;}

                                .title_wr {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: row;
                                    flex-wrap: wrap;
                                    align-items: flex-start;
                                    padding-bottom: .5rem;

                                    i {
                                        font-size: 2.5rem;
                                        color: #333;
                                        margin-right: 1rem;
                                    }

                                    .box_tit {
                                        font-size: 1.2rem;
                                        font-weight: 400;
                                        color: #333;
                                    }
                                }

                                .text_wr {
                                    width: 100%;

                                    .box_txt {
                                        text-align: left;
                                        font-size: 0.875rem;
                                        font-weight: 200;
                                        line-height: 1.5;
                                        color: #333;
                                        word-break: keep-all;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Our Team 영역
        &.section03 {

            .cont {

                &.cont1 {
                    text-align: center;

                    .content {
                        width: 100%;
                        padding: 6rem 0;

                        .grid_wr {
                            display: grid;
                            gap: 30px;
                            grid-template-columns: repeat(3, 1fr);

                            > li {
                                position: relative;
                                width: 100%;
                                height: 500px;
                                box-shadow: 2px 2px 15px rgba(0, 0, 0, 30%);
                                border-radius: 5px;
                                overflow: hidden;

                                &:hover {

                                    img {
                                        filter: brightness(0.7);
                                    }

                                    .info__wr {
                                        display: block;
                                    }
                                }

                                img {
                                    transition: all .3s ease-in-out;
                                }

                                .info__wr {
                                    display: none;
                                    position: absolute;
                                    bottom: 2.5rem;
                                    left: 2rem;
                                    width: 20rem;
                                    text-align: left;
                                    transition: all .3s ease-in-out;

                                    .member_name {
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                        color: #fff;
                                        padding-bottom: .5rem;
                                        display: block;
                                    }

                                    .member_job {
                                        font-size: 1.5rem;
                                        font-weight: 700;
                                        color: #f00;
                                        padding-bottom: 1.5rem;
                                        display: block;
                                    }

                                    .member_info {
                                        font-size: 1rem;
                                        font-weight: 300;
                                        line-height: 1.3;
                                        color: #fff;
                                        padding-bottom: 1.5rem;
                                        display: block;
                                    }

                                    .btn {
                                        text-transform: capitalize;
                                        padding: 0.5rem 1.5rem;
                                        font-weight: 300;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        // Contact 영역
        &.section04 {

            .cont {

                &.cont1 {
                    width: 100%;
                    background-color: #272727;
                    padding: 6rem 0;

                    .contact_box {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.5);

                        .lef {
                            width: 30rem;
                        }

                        .rig {
                            width: calc(100% - 30rem);
                            background-color: #eee;
                            text-align: center;
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-content: center;
                            padding: 6rem;

                            .contact_tit {
                                width: 100%;
                                font-size: 3rem;
                                font-weight: 400;
                                color: #000;
                                padding-bottom: 4.5rem;
                            }

                            .ct_frm {
                                width: 100%;

                                .row {
                                    padding-bottom: 3rem;

                                    &:last-of-type {
                                        padding-bottom: 0;
                                    }

                                    .__input {
                                        width: 100%;
                                        background-color: transparent;
                                        outline: none;
                                        border: 0;
                                        border-bottom: 2px dashed #333;
                                        padding-bottom: 10px;
                                        font-size: 1rem;
                                        font-weight: 400;
                                        color: #333;
                                    }
                                }

                                .btn {
                                    width: 100%;
                                    margin-top: 3rem;
                                    font-size: 1.3rem;
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 푸터 영역
.footer {
    background-color: #17181b;
    padding: 4rem 0;

    .inner {
        @include inner;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .copyright {
        font-size: 1rem;
        font-weight: 300;
        color: #a7a7a7;
        letter-spacing: 0;
    }

    .sns-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;

        > li {
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            > a {
                font-size: 1.5rem;
                color: #a7a7a7;
            }
        }
    }
}

.topBtn {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    width: 3rem;
    height: 3rem;
    background-color: $mColor;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@include w1540 {

    .sideBar_wr {

        &.active {
            width: 30rem;
        }

        .top_wr {
            margin-bottom: 3rem;
        }

        .content_wr {
            height: calc(100% - 140px - 3rem);

            .list {

                > li {
                    margin-bottom: 1.5rem;

                    > a {
                        font-size: 1.8rem;
                    }
                }
            }

            .social_list {

                > li {
                    margin-right: 3rem;

                    > a {
                        width: 2.5rem;
                        height: 2.5rem;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }

    .main {

        .section {

            &.section02 {

                .cont {

                    &.cont1 {

                        .content {
                            height: 65vh;
                        }
                    }
                }
            }
        }
    }
}